<header class="row">
  <form class="form-inline col-sm-6">
    <div class="col-sm-6">
      <label for="ownSwots">SWOTs</label>
      <select class="c-select" id="ownSwots" [(ngModel)]="selectedSwotId" (ngModelChange)="selectSwot($event)">
        <option *ngFor="let swot of swotList" [value]="swot._id">{{swot.name}} by {{swot.owner.name}}</option>
      </select>
    </div>
  </form>

  <form class="form-inline col-sm-6" (ngSubmit)="create(newSwotForm.value, newSwotForm)" #newSwotForm="ngForm">
    <div class="form-group">
      <label for="name">New SWOT name</label>
      <input ngControl="name" required minlength="2" class="form-control" id="name">
    </div>
    <button type="submit" class="btn">Create SWOT</button>
  </form>
</header>
<swot [swot]="selectedSwot"></swot>
