<div *ngIf="swot && area">
  <div class="row">
    <span class="col-sm-1">{{area}}</span>
    <form class="form-inline col-sm-11" (ngSubmit)="create(newPostForm.value, newPostForm)" #newPostForm="ngForm">
      <div class="input-group">
        <input ngControl="text" type="text" required minlength="2" class="form-control" placeholder="content">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" type="submit">ADD!</button>
      </span>
      </div>
    </form>
  </div>

  <div class="row">
    <div *ngFor="let post of postList" class="col-sm-4">{{post.text}}</div>
  </div>

</div>
